<!DOCTYPE html>
<html lang="en">
    <head>
        <title>U740 apply</title>
        <meta charset="UTF-8" ne="viewport" content="width=device-width, initial-scale=1.0">
      </head>
        
<style>
    table, th, td {
        border:1px solid black;
    }

    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
    }

    .dialog {
        width:100px;
        height:20px;
        border:1px solid #000;
        text-align: left;
        background: rgb(255, 255, 255);
    }

    .info {
        width:210px;
        height:20px;
        border:1px solid #000;
        text-align: left;
        background: rgb(255, 255, 255);
    }

    tr{
        width:350px;
        height:70px;
        border:1px solid #000;
        text-align: center;
        background: rgb(255, 150, 45);
    }
    .active{
        background: rgb(224, 138, 57);
    }
</style>
<body style="background-color:rgb(248, 236, 182);">
    <center>
        <form class="form-horizontal" method="post" id="test">
            <div style="border-width: 2px ; width: 250px; height: 20px ; padding: 5px; text-align: center; background-color: rgb(41, 105, 176, 0.7);border-radius: 4px;">
                <span style="color: rgb(255, 255, 255);">請輸入用戶名並選擇申請時間段</span>
            </div>
            <br>
            <span style="color: rgb(0, 0, 0);">用戶名：</span><input class="dialog" type="text" placeholder="請輸入用戶名" id="usr_name" name="usr_name" value="{{ request.form.usr_name }}">
            <br><br>
            
            <table id="myTable">
                
                <tr onclick="displayResult(this)">
                    {% if available1 %}
                        <th>10:00 - 11:00 <br> 可用機器：{{ available1 }} 台</th>
                    {% else %}
                        <th>該時間段已過或已約滿</th>
                    {% endif %}

                    {% if available2 %}
                        <th>11:00 - 12:00 <br> 可用機器：{{ available2 }} 台</th>
                    {% else %}
                        <th>該時間段已過或已約滿</th>
                    {% endif %}

                    {% if available3 %}
                        <th>12:00 - 13:00 <br> 可用機器：{{ available3 }} 台</th>
                    {% else %}
                        <th>該時間段已過或已約滿</th>
                    {% endif %}

                    {% if available4 %}
                        <th>13:00 - 14:00 <br> 可用機器：{{ available4 }} 台</th>
                    {% else %}
                        <th>該時間段已過或已約滿</th>
                    {% endif %}
                </tr>

                <tr onclick="displayResult(this)">
                    {% if available5 %}
                        <th>14:00 - 15:00 <br> 可用機器：{{ available5 }} 台</th>
                    {% else %}
                        <th>該時間段已過或已約滿</th>
                    {% endif %}

                    {% if available6 %}
                        <th>15:00 - 16:00 <br> 可用機器：{{ available6 }} 台</th>
                    {% else %}
                        <th>該時間段已過或已約滿</th>
                    {% endif %}

                    {% if available7 %}
                        <th>16:00 - 17:00 <br> 可用機器：{{ available7 }} 台</th>
                    {% else %}
                        <th>該時間段已過或已約滿</th>
                    {% endif %}

                    {% if available8 %}
                        <th>17:00 - 18:00 <br> 可用機器：{{ available8 }} 台</th>
                    {% else %}
                        <th>該時間段已過或已約滿</th>
                    {% endif %}
                </tr>

                <tr onclick="displayResult(this)">
                    {% if available9 %}
                        <th>18:00 - 19:00 <br> 可用機器：{{ available9  }} 台</th>
                    {% else %}
                        <th>該時間段已過或已約滿</th>
                    {% endif %}

                    {% if available10 %}
                        <th>19:00 - 20:00 <br> 可用機器：{{ available10 }} 台</th>
                    {% else %}
                        <th>該時間段已過或已約滿</th>
                    {% endif %}

                    {% if available11 %}
                        <th>20:00 - 21:00 <br> 可用機器：{{ available11 }} 台</th>
                    {% else %}
                        <th>該時間段已過或已約滿</th>
                    {% endif %}

                    {% if available12 %}
                        <th>21:00 - 22:00 <br> 可用機器：{{ available12 }} 台</th>
                    {% else %}
                        <th>該時間段已過或已約滿</th>
                    {% endif %}
                </tr>

            </table>
            <br>
            <input class="info" type="text" id="time_dialog" name="time_dialog" readonly="readonly" value="此處會顯示你所選擇的時間段信息">
            <input class="button" class="btn btn-default" name="sub" type="submit" value="預約" id="sub">
            
    </center>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>

    document.getElementById('sub').onclick = function() {
        var invalid  = document.getElementById('time_dialog').value;
        var usr_name = document.getElementById('usr_name').value;
        
        if(usr_name == "") {
            alert('請輸入用戶名！');
        }
        
        if(invalid == '此處會顯示你所選擇的時間段信息') {
            alert('請選擇時間段！');
        }
        
        if(invalid != '此處會顯示你所選擇的時間段信息' && usr_name != "") {
            return confirm('請確認你的用戶名為: ' + usr_name + '\n' + invalid + '\n如有錯請點擊取消');
        }
        return false;
    }

    $(function(){
        $('th').on('click',function(){
            var period = $(this).text();
            
            if (period != "該時間段已過或已約滿") {
            $('th').removeClass('active').addClass();
            $(this).addClass('active');
            period_start = $(this).index() + $(this).closest('tr').index() * 4 + 10;
            period_end   = $(this).index() + $(this).closest('tr').index() * 4 + 11;

            document.getElementById("time_dialog").value = "你所選擇的時間段為: " + period_start + ":00 --" + period_end + ":00";
            }
            
        })
    })
    </script>
 
</body>
</html>